<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="fastinventory">
<head>
    <title>Monroe College - Fast Inventory</title>
    <link rel="shortcut icon" href="css/mcicon.ico" />
    <link rel="stylesheet" href="css/Overrides.css" />
    <link rel="stylesheet" href="css/Project Inventory.css" />
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/main.js"></script>
</head>
<body ng-controller="loginCtrl">
    <div class="container header">
        <img class="header logo" src="css/MonroeCollegeLogo.svg" />
        <ul class="header menu horizontal">
            <li><a class="clean" href="/">Home</a></li>
            <li class="selected"><a class="clean" href="#">Login</a></li>
        </ul>
    </div>
    <div class="container ticker">

    </div>
    <div class="container content">
        <div class="content textarea">
            <h1>User Login</h1>
            <p>You require a valid username and password to access the system. If you cannot login please content the IT department.</p>
            <form>
                <div>
                    <label for="email">Monroe Email:</label>
                    <input ng-model="formUser.email" type="text" name="email" />
                </div>
                <div>
                    <label for="pass">Password:</label>
                    <input ng-model="formUser.pass" type="password" name="pass" />
                </div>
                <div>
                    <button ng-click="loginUser();">Sign In</button>
                </div>
            </form>
            <div ng-repeat="c in creds">
              ID: {{c.empID}} <br/>
              Username: {{c.username}} <br/>
              First Name: {{c.Fname}} <br/>
              Last Name: {{c.Lname}}
            </div>
        </div>
    </div>
    <div class="container footer">
        Fast Inventory Project, &copy; Monroe College
    </div>
</body>
</html>
