<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Monroe College - Fast Inventory</title>
    <link rel="shortcut icon" href="css/mcicon.ico" />
    <link rel="stylesheet" href="css/Overrides.css" />
    <link rel="stylesheet" href="css/Project Inventory.css" />
</head>
<body>
    <div class="container header">
        <img class="header logo" src="css/MonroeCollegeLogo.svg" />
        <ul class="header menu horizontal">
            <li class="selected"><a class="clean" href="#">Home</a></li>
            <li><a class="clean" href="/login">Login</a></li>
        </ul>
    </div>
    <div class="container ticker">

    </div>
    <div class="container content">
          <div class="content textarea">
              <h1>Fast Inventory Project</h1>
              <p>The fast inventory project allows for the rapid data entry and registration of electronic equipment.</p>
              <p>The system will allow you to:</p>
              <ul>
                  <li>Scan products to update the inventory page</li>
                  <li>View existing items scanned in the inventory page</li>
                  <li>Generation of QR codes</li>

              </ul>
              <p>To use the system, please login.</p>
          </div>
          <div class="content textarea">
              <h2>WebSite Purpose</h2>
              <p>The main purpose of this site is to allow for quick access to the scanned inventory in an organized orderly manner to where one can search between the Bronx and New Rochelle Campus buildings and allow the user to search for specific inventory if they so wish to do so. Alongside the database the site will store the QR codes generated for quick and easy access for future use.
              </p>
          </div>
      </div>
    <div class="container footer">
        Fast Inventory Project, &copy; Monroe College
    </div>
</body>
</html>
